body{
    background-color:lightblue;
}
h1{
    text-align:center;
}
a{
    font-size:larger;
    color:white;
    margin-left:2px;
}
a:hover{
    color:lightslategrey;

}
a:visited{
    color:lightblue;
}
a:visited:hover{
    color:lightslategrey;
}